{% extends 'base.html' %}
{% block content %}
    <div class="About-container">
        <h1>About Me</h1>
        <div>
            <p>
                I am a self-taught developer with a passion for creating visually appealing and user-friendly websites.I
                have been able to hone my skills through various online resources and hands-on projects. I specialize in
                HTML, CSS, JavaScript and Python and have a strong understanding of responsive design. I am constantly
                learning and staying up to date with the latest industry trends and technologies, such as React. If
                you're looking for a driven and dedicated developer to bring your vision to life, don't hesitate to
                reach out!
            </p>
        </div>
    </div>
{% endblock %}