{% extends 'base.html' %}
{% block content %}
<div class="footer-container" id="Contact">
    <h1>Contact Me</h1>
    <div class="contact-container">
        <div><h3>Call Me :</h3>
            <a href="tel:+919881898026">
                <span> +919881898026</span>
            </a>
        </div>
        <div><h3>Email To :</h3>
            <a href="mailto:kumbhaabhijeetv@gmail.com">
                <span> kumbharabhijeetv@gmail.com</span>
            </a>
        </div>
        <div>
            <h3>Find me on:</h3>
            <a href="https://www.instagram.com/abhijeet_kumbhar30/" target="_blank" rel="noreferrer">
                <img class="svg" src="/static/svg/instagram-1-svgrepo-com.svg" alt="instagram_icon">
            </a>
            <a href="https://twitter.com/kabhi30" target="_blank" rel="noreferrer">
                <img class="svg" src="/static/svg/twitter-svgrepo-com.svg" alt="twitter_logo">
            </a>
            <a href="https://github.com/Abhijeet2121" target="_blank" rel="noreferrer">
                <img class="svg" src="/static/svg/github-svgrepo-com.svg" alt="github_icon">
            </a>
        </div>
    </div>
    <div class="Copyright">
        <h6>2022 @ Abhijeet Kumbhar</h6>
    </div>
</div>
{% endblock %}