{% extends 'base.html' %}
{% block content %}

<body>
    <div class="header">
        <div class="Main-content">
            <p>Hi, my name is Abhijeet Kumbhar</br>
                i am a Python Developer.</br>
                i design websites & webapps.</br>
            </p>
            <p class="color-gray">
                Let me show You...
            </p>
            <div class="social-links">
                <a href="https://www.instagram.com/abhijeet_kumbhar30/" target="_blank" rel="noreferrer">
                    <img class="svg" src="/static/svg/instagram-1-svgrepo-com.svg" alt="instagram_logo">
                </a>
                <a href="https://twitter.com/kabhi30" target="_blank" rel="noreferrer">
                    <img class="svg" src="/static/svg/twitter-svgrepo-com.svg" alt="twitter_logo">
                </a>
                <a href="https://github.com/Abhijeet2121" target="_blank" rel="noreferrer">
                    <img class="svg" src="/static/svg/github-svgrepo-com.svg" alt="github_logo">
                </a>
            </div>
        </div>
    </div>
{% endblock %}