{% extends 'base.html' %}
{% block content %}
    <div class="Portfolio-container" id="Portfolio">
        <h1>Projects</h1>
        <div class="Portfolio-card">
            <div class="projects">
                <img src="/static/asset/dietprotocol.png" alt="../../asset/dietprotocol.jpg">
                <button class="btn">
                    <a href="https://dietprotocol-commit-to-be-fit.netlify.app/"> View Project </a>
                </button>
            </div>
            <div class="projects">
                <img src="/static/asset/tripsn_tales.png" alt="../../asset/tripsandtales.jpg">
                <button class="btn">
                    <a href="https://tripsntales-project.netlify.app/"> View Project </a>
                </button>
            </div>
            <div class="projects">
                <img src="/static/asset/todo_app.png" alt="../../asset/todo-app.jpg">
                <button class="btn">
                    <a href="todoapp-my.netlify.app"> View Project </a>
                </button>
            </div>
            <div class="projects">
                <img src="/static/asset/banksapp.png" alt="../../asset/bankapp.jpg">
                <button class="btn">
                    <a href="https://bankappproject.netlify.app/"> View Project </a>
                </button>
            </div>
            <div class="projects">
                <img src="/static/asset/monster_rolodex.png" alt="../../asset/monster_rolodex.jpg">
                <button class="btn"><a href="https://monsterrolodexproject.netlify.app"> View Project </a></button>
            </div>
            <div class="projects"><img src="/static/asset/crown_cloting.png" alt="../../asset/crown-clothing.jpg"><button
                    class="btn"><a href="https://crown-clothing-app-v1.netlify.app"> View Project </a></button></div>
        </div>
    </div>
{% endblock %}