{% extends 'base.html' %}
{% block content %}
<div class="Skills">
    <h1> Skills</h1>
    <div class="skill-container">
        <div class="skill-card html">
            <h3>Html & Css</h3>
            <img class="svg" src="/static/svg/html-5-svgrepo-com.svg" alt="html_icon">
            <p>70%</p>
        </div>
        <div class="skill-card react">
            <h3>React</h3>
            <img class="svg" src="/static/svg/reactjs-svgrepo-com.svg" alt="react_icon">
            <p>50%</p>
        </div>
        <div class="skill-card js">
            <h3>Javascript</h3>
            <img class="svg" src="/static/svg/javascript-svgrepo-com.svg" alt="Javascript_icon">
            <p>60%</p>
        </div>
        <div class="skill-card git" >
            <h3>Github</h3>
            <img class="svg" src="/static/svg/github-svgrepo-com.svg" alt="github_icon">
            <p>75%</p>
        </div>
        <div class="skill-card python" >
            <h3>Python</h3>
            <img class="svg" src="/static/svg/python-package-index-svgrepo-com.svg" alt="python_icon">
            <p>75%</p>
        </div>
    </div>
</div>
{% endblock %}